body {
    /* Typography Declaration */
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .masthead-heading,
  .masthead-intro,
  .content-footer {
    text-align: center;
  }
  .menu{
    float:left;
    width: 20%;
    text-align: center;
    position: absolute;
   top: 70%;
  }
  .menu a{
    background-color: #09fad2;
    padding:  8px;
    margin-top:11px;
    display: inline-block;
    width: 100%;
    color: #000000;
    border-radius: 15px;
  }
    
    
  
  .masthead {
    padding: 11em 0;
    background-image: url("A.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border-top: solid 2em #06e1f1;
    max-width: 100%;
      height: auto;
  }
  
  
  .masthead-intro {
    /* Text Declarations */
    margin-bottom: 0.1em;
    font-family: "Gentium Book Basic," Georgia, serif;
    font-size: 4em;
    color: #ebd9d9;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: 700;
  }
  
  .masthead-heading {
    /*Layout Declarations */
    margin-top: -0.2em;
    /* Typography Declarations */
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: light;
    font-size: 2em;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #030300;
     ;
  }
  
  /* Text Declarations for Sections */
  
  .introduction-section > p,
  .location-section > p,
  .content-footer > p,
  .questions-section > p {
    font-weight: 300;
    letter-spacing: 0.05em;
  }
  
  /* Section Styling */
  
  .introduction-section,
  .location-section,
  .questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }
  
  .questions-section > h2 {
    /*Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.1 em;
    font-weight: bold;
    color: #222222;
  }
  
  /* Footer Styling */
  
  .fa-stack fa-lg {
    display: inline-block;
  }
  
  .footer-container > p {
    color: white;
  }
  
  .content-footer {
    padding: 2em 0;
    margin-top: 3em;
    background: #428ebd;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
  }
  
  a:link {
    color: #fffefc;
  }
  
  a:visited {
    color: #f8f8f8fd; 
  }
  
  a:hover {
    color: #000000;
  }
  
  
  .footer-container a.facebook:hover {
    color: #1621bd; 
  }
  .footer-container a.instagram:hover {
    color: #E4405F; 
  }
  
  
  @media only screen and (max-width: 800px) {
    .masthead {
        padding: 5em 0;
    }
    .masthead-intro {
      font-size: 3em;
    }
    .masthead-heading {
      font-size: 1.5em;
    }
    .container {
      padding: 0 3em;
    }
    .footer-container {
      padding: 0 3em;
    }
  }